$dark_navy: #020C1B;
$medium_navy: #0A192F;
$light_navy: #27293d;
$app_background: #1e1e2f;

$gray: rgba(255, 255, 255, 0.6);
$slight_blue: #2196f3;
$light_blue: #ccd6f6;
$light_green: #42b883;
$purple: #d725bb;
$green: #389466;
$white: #fff;